argon2-cffi==20.1.0
asgiref==3.2.7
bcrypt==3.1.7
certifi==2020.4.5.1
cffi==1.14.0
dj-database-url==0.5.0
Django==3.0.3
django-bootstrap3==12.1.0
django-braces==1.14.0
django-heroku==0.3.1
gunicorn==20.0.4
misaka==2.1.1
Pillow==9.0.0
psycopg2==2.8.5
pycparser==2.20
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
whitenoise==5.1.0
wincertstore==0.2
