<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GO Socio</title>
    <!--Mobile View-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/animate.css'%}">
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/big_airycon.jpg" %}">

    <link rel="icon" type="image/jpg" sizes="16x16" href="{% static "img/airycon.jpg" %}">

  </head>

  <body>

      <nav class="navbar  mynav" role="navigation" id="navbar">
            <div class="container">

              <a class="navbar-brand mynav" href="{% url 'home' %}"><img src="{% static "img/logo_size_.jpg" %}" alt="My image"></a>

                <ul class="nav navbar-nav navbar-right">
                  {% if user.is_authenticated %}
                        <li><a href="{% url 'posts:create' %}" class="btn btn-simple">Post</a></li>
                        <li><a href="{% url 'groups:all' %}" class="btn btn-simple">Groups</a></li>
                        <li><a href="{% url 'groups:create' %}" class="btn btn-simple">Create Group</a></li>
                        <li><a href="{% url 'accounts:logout' %}" class="btn btn-simple">Log out</a></li>
                  {% else %}
                        <li><a href="{% url 'groups:all' %}"class="btn btn-simple">Groups</a></li>
                        <li><a href="{% url 'accounts:login' %}" class="btn btn-simple">Log in</a></li>
                        <li><a href="{% url 'accounts:signup' %}" class="btn btn-simple">Sign up</a></li>
                  {% endif %}
                </ul>
            </div>
          </nav>

          <div class="container_mycontent">
            {% block content %}

            {% endblock %}

          </div>
  <section>
  </div>

   <div class="leaf">
     <div>  <img src="{% static "img/fall1.png" %}" height="45px" width="45px"></img></div>
      <div><img src="{% static "img/fall2.png" %}" height="45px" width="45px"></img></div>
      <div>  <img src="{% static "img/fall3.png" %}" height="45px" width="45px" ></img></div>
      <div><img  src="{% static "img/fall4.png" %}" height="45px" width="45px"></img></div>
       <div> <img src="{% static "img/fall5.png" %}" height="45px" width="45px"></img></div>
     <div>   <img src="{% static "img/fall6.png" %}" height="45px" width="45px"></div>
     <div><img src="{% static "img/fall2.png" %}" height="45px" width="45px"></div>

   </div>

   <div class="leaf leaf1">
     <div>  <img src="{% static "img/fall1.png" %}" height="45px" width="45px"></img></div>
      <div><img src="{% static "img/fall2.png" %}" height="45px" width="45px"></img></div>
      <div>  <img src="{% static "img/fall3.png" %}" height="45px" width="45px" ></img></div>
      <div><img  src="{% static "img/fall4.png" %}" height="45px" width="45px"></img></div>
       <div> <img src="{% static "img/fall5.png" %}" height="45px" width="45px"></img></div>
     <div>   <img src="{% static "img/fall6.png" %}" height="45px" width="45px"></div>
     <div><img src="{% static "img/fall2.png" %}" height="45px" width="45px"></div>

   </div>

   <div class="leaf leaf2">
     <div>  <img src="{% static "img/fall1.png" %}" height="45px" width="45px"></img></div>
      <div><img src="{% static "img/fall2.png" %}" height="45px" width="45px"></img></div>
      <div>  <img src="{% static "img/fall3.png" %}" height="45px" width="45px" ></img></div>
      <div><img  src="{% static "img/fall4.png" %}" height="45px" width="45px"></img></div>
       <div> <img src="{% static "img/fall5.png" %}" height="45px" width="45px"></img></div>
     <div>   <img src="{% static "img/fall6.png" %}" height="45px" width="45px"></div>
     <div><img src="{% static "img/fall2.png" %}" height="45px" width="45px"></div>

   </div>

 </section>


  </body>

</html>
